# Capstone Database Engineer Course by Meta
# Final Project Assessment
## Database Creation, Reading, Updating, and Deletion (CRUD) using .csv file, MySQL, MySQL WorkBench, Python, Jupyter Notebook, GitHub, and Visual Studio Code

# Initialization: Import required libraries.

In [43]:
#Import MySQL Connector/Python
import mysql.connector as connector
#Import the Error class from MySQL Connector/Python
from mysql.connector import Error
#Import Panda, required to create a dataframe with the data to record in the database
import pandas as pd

# Task 0: Connect to the Database designed and created using MySQL WorkBench.

In [44]:
#Define database configurations as a Python dictionary object called dbconfig
dbconfig={"host":"localhost","user":"root", "password":""}

In [45]:
#Connect to MySQL
def connectToMySQL():
    try:
        connection = connector.connect(**dbconfig)
        print("Successfully connected to MySQL.")
        return connection
    except Error as er:
        print("Something went wrong.")
        print("Error Code:", er.errno)
        print("Error Message:", er.msg)
        
cnx=connectToMySQL()

Successfully connected to MySQL.

In [46]:
#Create a cursor
cursor = cnx.cursor()
print("Cursor successfully created.")

Cursor successfully created.

In [47]:
#Set the database for use
try:
    use_database1_sql = """USE little_lemon_org_database""" 
    cursor.execute(use_database1_sql) 
    print("Database little_lemon_org_database is ready for use.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Database little_lemon_org_database is ready for use.

# Task 1: Tranform the data given and extract the data for each Table

In [6]:
#Create a dataframe with the .csv files provided
file_location_name = 'tables_data\LittleLemon_allData.csv'
df = pd.read_csv(file_location_name, index_col=False, delimiter = ',', keep_default_na=False, na_values=['']) 
df.head(5)

,Row Number,Order ID,Order Date,Delivery Date,Customer ID,Customer Name,City,Country,Postal Code,Country Code,...,Sales,Quantity,Discount,Delivery Cost,Course Name,Cuisine Name,Starter Name,Desert Name,Drink,Sides
0,1,54-366-6861,15-Jun-2020,26-Mar-2020,72-055-7985,Laney Fadden,Daruoyan,China,993-0031,CN,...,187.5,2,20.00,60.51,Greek salad,Greek,Olives,Greek yoghurt,Athens White wine,Tapas
1,2,63-761-3686,25-Aug-2020,17-Jul-2020,65-353-0657,Giacopo Bramich,Ongjin,North Korea,216282,KP,...,352.5,1,15.00,96.75,Bean soup,Italian,Flatbread,Ice cream,Corfu Red Wine,Potato salad
2,3,65-351-6434,17-Aug-2021,24-Apr-2020,90-876-6799,Lia Bonar,Quince Mil,Peru,663246,PE,...,112.5,3,10.52,36.37,Pizza,Italian,Minestrone,Cheesecake,Italian Coffee,Bruschetta
3,4,36-917-2834,14-Aug-2021,13-Apr-2020,73-873-4827,Merrill Baudon,Susaki,Japan,987-0352,JP,...,330.0,3,11.23,5.49,Carbonara,Turkish,Tomato bread,Affogato,Roma Red wine,Focaccia
4,5,86-114-9232,20-Dec-2020,2-Feb-2021,80-927-5246,Tasia Fautly,Tobruk,Libya,351 01,LY,...,480.0,2,51.05,63.64,Kabasa,Greek,Falafel,Turkish yoghurt,Ankara White Wine,Meatballs

In [7]:
# Get data types of columns before conversion
df.dtypes

Row Number         int64
Order ID          object
Order Date        object
Delivery Date     object
Customer ID       object
Customer Name     object
City              object
Country           object
Postal Code       object
Country Code      object
Cost             float64
Sales            float64
Quantity           int64
Discount         float64
Delivery Cost    float64
Course Name       object
Cuisine Name      object
Starter Name      object
Desert Name       object
Drink             object
Sides             object
dtype: object

In [8]:
# Convert datatype of appropriate columns to date time
df["Order Date"]=df["Order Date"].apply(pd.to_datetime)
df["Delivery Date"]=df["Delivery Date"].apply(pd.to_datetime)
# Convert datatype of appropriate columns to string
df["Order ID"]=df["Order ID"].astype('string')
df["Customer ID"]=df["Customer ID"].astype('string')
df["Customer Name"]=df["Customer Name"].astype('string')
df["City"]=df["City"].astype('string')
df["Country"]=df["Country"].astype('string')
df["Postal Code"]=df["Postal Code"].astype('string')
df["Country Code"]=df["Country Code"].astype('string')
df["Course Name"]=df["Course Name"].astype('string')
df["Cuisine Name"]=df["Cuisine Name"].astype('string')
df["Starter Name"]=df["Starter Name"].astype('string')
df["Desert Name"]=df["Desert Name"].astype('string')
df["Drink"]=df["Drink"].astype('string')
df["Sides"]=df["Sides"].astype('string')
# Add 2 digits for the decimal part of floats
df["Cost"]=df["Cost"].round(decimals=2)
df["Sales"]=df["Sales"].round(2)
df["Discount"]=df["Discount"].round(2)
df["Delivery Cost"]=df["Delivery Cost"].round(2)

In [9]:
# Check for missing values
df.isna().sum()

Row Number       0
Order ID         0
Order Date       0
Delivery Date    0
Customer ID      0
Customer Name    0
City             0
Country          0
Postal Code      0
Country Code     0
Cost             0
Sales            0
Quantity         0
Discount         0
Delivery Cost    0
Course Name      0
Cuisine Name     0
Starter Name     0
Desert Name      0
Drink            0
Sides            0
dtype: int64

In [10]:
# Generate the column AddressID with data from existing columns and a digit  
df["AddressID"]=df["City"].str.replace(' ', '', regex=False)+"-"+df["Country"].str[:3]+"-"+df["Postal Code"].str.replace('-', '', regex=False)+"-"+str(1)
df["AddressID"]=df["AddressID"].str.upper()

# Create the corresponding dataframe for Table DeliveryAddress
df_DeliveryAddress = df.filter(items=["AddressID", "City","Country","Postal Code","Country Code"])
# Rename columns as in DeliveryAddress Table
df_DeliveryAddress = df_DeliveryAddress.rename(columns={"Row Number":"AddressID","Postal Code":"PostalCode","Country Code":"CountryCode"})

# Delete dupplicate row because AddressID is a Primary key
df_DeliveryAddress = df_DeliveryAddress.drop_duplicates()

# Display first rows of DeliveryAddress Table
df_DeliveryAddress.head(5)

                AddressID        City      Country PostalCode CountryCode
0  DARUOYAN-CHI-9930031-1    Daruoyan        China   993-0031          CN
1     ONGJIN-NOR-216282-1      Ongjin  North Korea     216282          KP
2  QUINCEMIL-PER-663246-1  Quince Mil         Peru     663246          PE
3    SUSAKI-JAP-9870352-1      Susaki        Japan   987-0352          JP
4     TOBRUK-LIB-351 01-1      Tobruk        Libya     351 01          LY

In [11]:
# Generate the column ProductID with data from existing columns and a digit  
df["ProductID"] = df["Course Name"].str[:3] + df["Cuisine Name"].str[:3] + df["Starter Name"].str[:3] + df["Desert Name"].str[:3] + df["Drink"].str[:3] + df["Sides"].str[:3] + str(1)

# Create the corresponding dataframe for Table Products
df_Produts = df.filter(items=["ProductID", "Course Name","Cuisine Name","Starter Name","Desert Name","Drink","Sides"])
# Rename columns as in Products Table
df_Produts = df_Produts.rename(columns={"Course Name":"CourseName","Cuisine Name":"CuisineName",
                                                        "Starter Name":"StarterName","Desert Name":"DesertName"})
# Delete dupplicate row because ProductID is a Primary key
df_Produts = df_Produts.drop_duplicates()

# Display first rows of Products Table
df_Produts.head(5)

,ProductID,CourseName,CuisineName,StarterName,DesertName,Drink,Sides
0,GreGreOliGreAthTap1,Greek salad,Greek,Olives,Greek yoghurt,Athens White wine,Tapas
1,BeaItaFlaIceCorPot1,Bean soup,Italian,Flatbread,Ice cream,Corfu Red Wine,Potato salad
2,PizItaMinCheItaBru1,Pizza,Italian,Minestrone,Cheesecake,Italian Coffee,Bruschetta
3,CarTurTomAffRomFoc1,Carbonara,Turkish,Tomato bread,Affogato,Roma Red wine,Focaccia
4,KabGreFalTurAnkMea1,Kabasa,Greek,Falafel,Turkish yoghurt,Ankara White Wine,Meatballs

In [12]:
# Extract 2 new columns FirstName and LastName from the column Name
df["FirstName"]=df["Customer Name"].str.split(" ", n=1).str.get(0)
df["LastName"]=df["Customer Name"].str.split(" ", n=1).str.get(1)

# Create the corresponding dataframe for Table Customers
df_Customers = df.filter(items=["Customer ID", "FirstName","LastName"])
# Rename columns as in Customers Table
df_Customers = df_Customers.rename(columns={"Customer ID":"CustomerID"})

# Delete dupplicate row because CustomerID is a Primary key
df_Customers=df_Customers.drop_duplicates()

# Display first rows of Customers Table
df_Customers.head(5)

    CustomerID FirstName LastName
0  72-055-7985     Laney   Fadden
1  65-353-0657   Giacopo  Bramich
2  90-876-6799       Lia    Bonar
3  73-873-4827   Merrill   Baudon
4  80-927-5246     Tasia   Fautly

In [13]:
# Create the corresponding dataframe for Table Orders
df_Orders = df.filter(items=["Order ID", "Order Date","Customer ID"])
# Rename columns as in Customers Table
df_Orders = df_Orders.rename(columns={"Order ID":"OrderID","Order Date":"OrderDate","Customer ID":"CustomerID"})

# Delete dupplicate row because OrderID is a Primary key
df_Orders=df_Orders.drop_duplicates()

# Display first rows of Orders Table
df_Orders.head(5)

       OrderID  OrderDate   CustomerID
0  54-366-6861 2020-06-15  72-055-7985
1  63-761-3686 2020-08-25  65-353-0657
2  65-351-6434 2021-08-17  90-876-6799
3  36-917-2834 2021-08-14  73-873-4827
4  86-114-9232 2020-12-20  80-927-5246

In [14]:
# Create the corresponding dataframe for Table OrderDetails
df_OrderDetails = df.filter(items=["Delivery Date","Delivery Cost", "Quantity", "Cost", "Discount", "AddressID", "Order ID", "ProductID"])
# Rename columns as in DeliveryInfo Table
df_OrderDetails = df_OrderDetails.rename(columns={"Delivery Date":"DeliveryDate","Delivery Cost":"DeliveryCost","Cost":"CostPrice","Order ID":"OrderID"})

# Display first rows of OrderDetails Table
df_OrderDetails.head(5)

,DeliveryDate,DeliveryCost,Quantity,CostPrice,Discount,AddressID,OrderID,ProductID
0,2020-03-26,60.51,2,125.0,20.00,DARUOYAN-CHI-9930031-1,54-366-6861,GreGreOliGreAthTap1
1,2020-07-17,96.75,1,235.0,15.00,ONGJIN-NOR-216282-1,63-761-3686,BeaItaFlaIceCorPot1
2,2020-04-24,36.37,3,75.0,10.52,QUINCEMIL-PER-663246-1,65-351-6434,PizItaMinCheItaBru1
3,2020-04-13,5.49,3,220.0,11.23,SUSAKI-JAP-9870352-1,36-917-2834,CarTurTomAffRomFoc1
4,2021-02-02,63.64,2,320.0,51.05,TOBRUK-LIB-351 01-1,86-114-9232,KabGreFalTurAnkMea1

# Task 2: Insert data into the Tables.

In [15]:
%%time

#Insert records into the Table DeliveryAddress
try:
    insert_table_DeliveryAddress_sql = """INSERT INTO little_lemon_org_database.DeliveryAddress VALUES (%s,%s,%s,%s,%s)""" 
    for i,row in df_DeliveryAddress.iterrows(): 
        cursor.execute(insert_table_DeliveryAddress_sql, tuple(row)) 
        cnx.commit()
    print(i+1, "Rows were successfully recorded in the Table DeliveryAddress.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

21000 Rows were successfully recorded in the Table DeliveryAddress.
CPU times: total: 15.5 s
Wall time: 20min 9s

In [16]:
%%time

#Insert records into the Table Products
try:
    insert_table_Products_sql = """INSERT INTO little_lemon_org_database.Products VALUES (%s,%s,%s,%s,%s,%s,%s)""" 
    for i,row in df_Produts.iterrows(): 
        cursor.execute(insert_table_Products_sql, tuple(row)) 
        cnx.commit()
    print(i+1, "Rows were successfully recorded in the Table Products.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

107 Rows were successfully recorded in the Table Products.
CPU times: total: 31.2 ms
Wall time: 4.22 s

In [17]:
%%time

#Insert records into the Table Customers
try:
    insert_table_Customers_sql = """INSERT INTO little_lemon_org_database.Customers VALUES (%s,%s,%s)""" 
    for i,row in df_Customers.iterrows(): 
        cursor.execute(insert_table_Customers_sql, tuple(row)) 
        cnx.commit()
    print(i+1, "Rows were successfully recorded in the Table Customers.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

1000 Rows were successfully recorded in the Table Customers.
CPU times: total: 766 ms
Wall time: 48 s

In [18]:
%%time

#Insert records into the Table Orders
try:
    insert_table_Orders_sql = """INSERT INTO little_lemon_org_database.Orders VALUES (%s,%s,%s)""" 
    for i,row in df_Orders.iterrows(): 
        cursor.execute(insert_table_Orders_sql, tuple(row)) 
        cnx.commit()
    print(i+1, "Rows were successfully recorded in the Table Orders.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

1000 Rows were successfully recorded in the Table Orders.
CPU times: total: 594 ms
Wall time: 53.4 s

In [19]:
%%time

#Insert records into the Table OrderDetails
try:
    insert_table_OrderDetails_sql = """INSERT INTO little_lemon_org_database.OrderDetails(
                                            DeliveryDate, DeliveryCost, Quantity, CostPrice, 
                                            Discount, AddressID, OrderID, ProductID) 
                                            VALUES (%s,%s,%s,%s,%s,%s,%s,%s)""" 
    for i,row in df_OrderDetails.iterrows(): 
        cursor.execute(insert_table_OrderDetails_sql, tuple(row)) 
        cnx.commit()
    print(i+1, "Rows were successfully recorded in the Table OrderDetails.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

21000 Rows were successfully recorded in the Table OrderDetails.
CPU times: total: 17.3 s
Wall time: 19min 30s

# Task 3: Create a stored procedure that returns the maximum quantity in an order.

In [20]:
#Stored Procedure GetMaxQuantity() that returns the maximum quantity in all orders
DropGetMaxQuantity_sql ="""DROP PROCEDURE IF EXISTS GetMaxQuantity;"""
GetMaxQuantity_sql = """CREATE PROCEDURE IF NOT EXISTS GetMaxQuantity (
    OUT MaxQuantity INT)
    BEGIN 
        SELECT MAX(Quantity)  
        FROM `orderdetails`
        INTO MaxQuantity;
    END"""

#Create the Stored Procedure
try:
    cursor.execute(DropGetMaxQuantity_sql) 
    cursor.execute(GetMaxQuantity_sql) 
    print("Procedure successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Procedure successfully created or already exists.

In [21]:
#Retrieve data from the Stored Procedure
args=['@MaxQuantity']

try:
    allResults=cursor.callproc('GetMaxQuantity', args)
    for eachResult in allResults:
        print('Maximum Quantity: ',eachResult)
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Maximum Quantity:  3

In [22]:
#Stored Procedure GetMaxQuantity() that returns the maximum quantity in an order
DropGetAllMaxQuantity_sql ="""DROP PROCEDURE IF EXISTS GetAllMaxQuantity;"""
GetAllMaxQuantity_sql ="""CREATE PROCEDURE IF NOT EXISTS GetAllMaxQuantity ()
    BEGIN 
        SELECT OrderID, MAX(Quantity) AS 'Max Quantity' 
        FROM `orderdetails` 
        GROUP BY OrderID;
    END"""

#Create the Stored Procedure
try:
    cursor.execute(DropGetAllMaxQuantity_sql) 
    cursor.execute(GetAllMaxQuantity_sql) 
    print("Procedure successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Procedure successfully created or already exists.

In [23]:
#Retrieve data from the Stored Procedure
try:
    cursor.callproc('GetAllMaxQuantity')
    allResults=[]
    for eachResult in cursor.stored_results():
        ds = eachResult.fetchall()
        i=1
        for eachResult in ds:
            print('Result #', i, "- OrderID: ",eachResult[0],"- Quantity: ",eachResult[1])
            i=i+1
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Result # 1 - OrderID:  00-008-3271 - Quantity:  2
Result # 2 - OrderID:  00-283-3544 - Quantity:  2
Result # 3 - OrderID:  00-350-1396 - Quantity:  1
Result # 4 - OrderID:  00-451-8857 - Quantity:  1
Result # 5 - OrderID:  00-465-7031 - Quantity:  3
Result # 6 - OrderID:  00-618-9205 - Quantity:  3
Result # 7 - OrderID:  00-669-6040 - Quantity:  2
Result # 8 - OrderID:  00-799-3091 - Quantity:  3
Result # 9 - OrderID:  00-822-8333 - Quantity:  3
Result # 10 - OrderID:  00-965-9450 - Quantity:  2
Result # 11 - OrderID:  01-062-3384 - Quantity:  1
Result # 12 - OrderID:  01-423-8434 - Quantity:  3
Result # 13 - OrderID:  01-715-3869 - Quantity:  3
Result # 14 - OrderID:  01-733-5889 - Quantity:  1
Result # 15 - OrderID:  01-754-7255 - Quantity:  2
Result # 16 - OrderID:  01-855-8188 - Quantity:  3
Result # 17 - OrderID:  01-877-6020 - Quantity:  2
Result # 18 - OrderID:  01-879-8004 - Quantity:  3
Result # 19 - OrderID:  01-975-7149 - Quantity:  3
Result # 20 - OrderID:  01-981-5069 - Quantity:  2
Result # 21 - OrderID:  02-211-2785 - Quantity:  3
Result # 22 - OrderID:  02-266-1313 - Quantity:  2
Result # 23 - OrderID:  02-311-4674 - Quantity:  1
Result # 24 - OrderID:  02-569-3156 - Quantity:  1
Result # 25 - OrderID:  02-699-8406 - Quantity:  2
Result # 26 - OrderID:  02-715-2965 - Quantity:  3
Result # 27 - OrderID:  02-732-6800 - Quantity:  3
Result # 28 - OrderID:  02-938-1657 - Quantity:  1
Result # 29 - OrderID:  03-039-5845 - Quantity:  3
Result # 30 - OrderID:  03-132-2890 - Quantity:  2
Result # 31 - OrderID:  03-248-8148 - Quantity:  1
Result # 32 - OrderID:  03-297-4257 - Quantity:  2
Result # 33 - OrderID:  03-464-8128 - Quantity:  3
Result # 34 - OrderID:  03-555-7951 - Quantity:  2
Result # 35 - OrderID:  03-568-8174 - Quantity:  2
Result # 36 - OrderID:  03-825-5219 - Quantity:  2
Result # 37 - OrderID:  03-893-8767 - Quantity:  1
Result # 38 - OrderID:  03-955-4532 - Quantity:  1
Result # 39 - OrderID:  04-003-4647 - Quantity:  2
Result # 40 - OrderID:  04-238-9179 - Quantity:  1
Result # 41 - OrderID:  04-546-8049 - Quantity:  2
Result # 42 - OrderID:  04-743-8019 - Quantity:  1
Result # 43 - OrderID:  04-812-8753 - Quantity:  2
Result # 44 - OrderID:  04-904-4552 - Quantity:  2
Result # 45 - OrderID:  04-911-6551 - Quantity:  2
Result # 46 - OrderID:  04-976-7880 - Quantity:  2
Result # 47 - OrderID:  05-024-1112 - Quantity:  3
Result # 48 - OrderID:  05-318-1801 - Quantity:  1
Result # 49 - OrderID:  05-378-2914 - Quantity:  2
Result # 50 - OrderID:  05-410-4163 - Quantity:  3
Result # 51 - OrderID:  05-822-0829 - Quantity:  1
Result # 52 - OrderID:  05-825-9260 - Quantity:  1
Result # 53 - OrderID:  05-971-9045 - Quantity:  2
Result # 54 - OrderID:  05-982-4967 - Quantity:  2
Result # 55 - OrderID:  06-075-0174 - Quantity:  3
Result # 56 - OrderID:  06-416-0671 - Quantity:  2
Result # 57 - OrderID:  06-457-9925 - Quantity:  1
Result # 58 - OrderID:  06-605-4865 - Quantity:  2
Result # 59 - OrderID:  06-705-6026 - Quantity:  3
Result # 60 - OrderID:  06-887-6332 - Quantity:  3
Result # 61 - OrderID:  06-934-9396 - Quantity:  2
Result # 62 - OrderID:  07-113-3748 - Quantity:  3
Result # 63 - OrderID:  07-116-3515 - Quantity:  2
Result # 64 - OrderID:  07-143-9471 - Quantity:  2
Result # 65 - OrderID:  07-244-2129 - Quantity:  2
Result # 66 - OrderID:  07-275-2696 - Quantity:  1
Result # 67 - OrderID:  07-312-6026 - Quantity:  2
Result # 68 - OrderID:  07-322-4153 - Quantity:  3
Result # 69 - OrderID:  07-634-6294 - Quantity:  2
Result # 70 - OrderID:  07-808-6932 - Quantity:  1
Result # 71 - OrderID:  08-152-8962 - Quantity:  2
Result # 72 - OrderID:  08-270-7581 - Quantity:  2
Result # 73 - OrderID:  08-309-3649 - Quantity:  3
Result # 74 - OrderID:  08-316-6754 - Quantity:  2
Result # 75 - OrderID:  08-483-5677 - Quantity:  3
Result # 76 - OrderID:  08-659-6030 - Quantity:  2
Result # 77 - OrderID:  08-660-0159 - Quantity:  1
Result # 78 - OrderID:  08-855-8354 - Quantity:  1
Result # 79 - OrderID:  08-940-9111 - Quantity:  3
Result # 80 - OrderID:  09-019-6593 - Quantity:  3
Result # 81 - OrderID:  09-058-1844 - Quantity:  3
Result # 82 - OrderID:  09-185-3204 - Quantity:  1
Result # 83 - OrderID:  09-229-1754 - Quantity:  3
Result # 84 - OrderID:  09-440-5820 - Quantity:  2
Result # 85 - OrderID:  09-481-5023 - Quantity:  3
Result # 86 - OrderID:  09-522-5385 - Quantity:  3
Result # 87 - OrderID:  09-896-5300 - Quantity:  2
Result # 88 - OrderID:  09-923-6077 - Quantity:  3
Result # 89 - OrderID:  10-030-5503 - Quantity:  2
Result # 90 - OrderID:  10-052-8149 - Quantity:  2
Result # 91 - OrderID:  10-120-0016 - Quantity:  1
Result # 92 - OrderID:  10-141-0121 - Quantity:  3
Result # 93 - OrderID:  10-150-2658 - Quantity:  1
Result # 94 - OrderID:  10-370-7784 - Quantity:  2
Result # 95 - OrderID:  10-390-3471 - Quantity:  2
Result # 96 - OrderID:  10-462-2908 - Quantity:  2
Result # 97 - OrderID:  10-621-7662 - Quantity:  1
Result # 98 - OrderID:  10-638-5334 - Quantity:  1
Result # 99 - OrderID:  10-814-8054 - Quantity:  2
Result # 100 - OrderID:  11-146-3342 - Quantity:  2
Result # 101 - OrderID:  11-244-2193 - Quantity:  3
Result # 102 - OrderID:  11-397-2150 - Quantity:  3
Result # 103 - OrderID:  11-446-2659 - Quantity:  3
Result # 104 - OrderID:  11-463-8439 - Quantity:  1
Result # 105 - OrderID:  11-486-8739 - Quantity:  1
Result # 106 - OrderID:  11-645-0948 - Quantity:  2
Result # 107 - OrderID:  11-648-9765 - Quantity:  2
Result # 108 - OrderID:  11-700-3520 - Quantity:  2
Result # 109 - OrderID:  11-741-2205 - Quantity:  1
Result # 110 - OrderID:  11-769-7584 - Quantity:  3
Result # 111 - OrderID:  11-776-8532 - Quantity:  1
Result # 112 - OrderID:  11-821-0545 - Quantity:  2
Result # 113 - OrderID:  11-835-2932 - Quantity:  3
Result # 114 - OrderID:  11-858-8042 - Quantity:  1
Result # 115 - OrderID:  11-997-6382 - Quantity:  3
Result # 116 - OrderID:  12-128-2576 - Quantity:  3
Result # 117 - OrderID:  12-306-6646 - Quantity:  2
Result # 118 - OrderID:  12-346-4013 - Quantity:  2
Result # 119 - OrderID:  12-371-9369 - Quantity:  3
Result # 120 - OrderID:  12-605-1676 - Quantity:  2
Result # 121 - OrderID:  12-648-4718 - Quantity:  2
Result # 122 - OrderID:  12-718-1501 - Quantity:  3
Result # 123 - OrderID:  12-837-0577 - Quantity:  2
Result # 124 - OrderID:  13-018-1111 - Quantity:  3
Result # 125 - OrderID:  13-189-4080 - Quantity:  2
Result # 126 - OrderID:  13-235-5773 - Quantity:  1
Result # 127 - OrderID:  13-435-8115 - Quantity:  2
Result # 128 - OrderID:  13-469-9343 - Quantity:  2
Result # 129 - OrderID:  13-555-4988 - Quantity:  2
Result # 130 - OrderID:  13-673-8989 - Quantity:  1
Result # 131 - OrderID:  13-698-5271 - Quantity:  3
Result # 132 - OrderID:  13-912-7109 - Quantity:  2
Result # 133 - OrderID:  14-210-2413 - Quantity:  3
Result # 134 - OrderID:  14-224-3137 - Quantity:  2
Result # 135 - OrderID:  14-316-4950 - Quantity:  1
Result # 136 - OrderID:  14-376-2485 - Quantity:  3
Result # 137 - OrderID:  14-606-3655 - Quantity:  1
Result # 138 - OrderID:  14-648-5507 - Quantity:  2
Result # 139 - OrderID:  15-090-5294 - Quantity:  1
Result # 140 - OrderID:  15-190-8465 - Quantity:  2
Result # 141 - OrderID:  15-192-4862 - Quantity:  1
Result # 142 - OrderID:  15-197-3569 - Quantity:  1
Result # 143 - OrderID:  15-260-9895 - Quantity:  3
Result # 144 - OrderID:  15-272-2116 - Quantity:  2
Result # 145 - OrderID:  15-297-7741 - Quantity:  2
Result # 146 - OrderID:  15-307-8168 - Quantity:  1
Result # 147 - OrderID:  15-663-0481 - Quantity:  1
Result # 148 - OrderID:  15-667-9235 - Quantity:  2
Result # 149 - OrderID:  16-386-7757 - Quantity:  3
Result # 150 - OrderID:  16-609-1782 - Quantity:  3
Result # 151 - OrderID:  16-921-7992 - Quantity:  3
Result # 152 - OrderID:  16-946-9856 - Quantity:  1
Result # 153 - OrderID:  17-146-9681 - Quantity:  3
Result # 154 - OrderID:  17-253-1197 - Quantity:  2
Result # 155 - OrderID:  17-264-8555 - Quantity:  3
Result # 156 - OrderID:  17-396-0834 - Quantity:  2
Result # 157 - OrderID:  17-529-1692 - Quantity:  1
Result # 158 - OrderID:  17-586-7905 - Quantity:  2
Result # 159 - OrderID:  17-708-5350 - Quantity:  3
Result # 160 - OrderID:  17-851-5705 - Quantity:  2
Result # 161 - OrderID:  18-136-6969 - Quantity:  3
Result # 162 - OrderID:  18-237-6374 - Quantity:  2
Result # 163 - OrderID:  18-252-1922 - Quantity:  1
Result # 164 - OrderID:  18-359-3465 - Quantity:  1
Result # 165 - OrderID:  18-752-8277 - Quantity:  2
Result # 166 - OrderID:  18-944-2420 - Quantity:  2
Result # 167 - OrderID:  19-156-3010 - Quantity:  3
Result # 168 - OrderID:  19-189-3064 - Quantity:  3
Result # 169 - OrderID:  19-281-5590 - Quantity:  3
Result # 170 - OrderID:  19-329-8137 - Quantity:  2
Result # 171 - OrderID:  19-522-8580 - Quantity:  1
Result # 172 - OrderID:  19-530-8425 - Quantity:  2
Result # 173 - OrderID:  19-560-5489 - Quantity:  2
Result # 174 - OrderID:  19-768-2646 - Quantity:  3
Result # 175 - OrderID:  19-798-0585 - Quantity:  3
Result # 176 - OrderID:  19-953-6477 - Quantity:  1
Result # 177 - OrderID:  20-140-3398 - Quantity:  2
Result # 178 - OrderID:  20-205-9814 - Quantity:  2
Result # 179 - OrderID:  20-343-7160 - Quantity:  2
Result # 180 - OrderID:  20-698-8725 - Quantity:  1
Result # 181 - OrderID:  21-039-2999 - Quantity:  3
Result # 182 - OrderID:  21-104-5976 - Quantity:  3
Result # 183 - OrderID:  21-106-4079 - Quantity:  2
Result # 184 - OrderID:  21-164-7722 - Quantity:  2
Result # 185 - OrderID:  21-385-2808 - Quantity:  2
Result # 186 - OrderID:  21-627-1027 - Quantity:  2
Result # 187 - OrderID:  21-743-3530 - Quantity:  3
Result # 188 - OrderID:  21-844-2539 - Quantity:  2
Result # 189 - OrderID:  22-001-6016 - Quantity:  3
Result # 190 - OrderID:  22-130-4513 - Quantity:  3
Result # 191 - OrderID:  22-401-7510 - Quantity:  3
Result # 192 - OrderID:  22-437-6211 - Quantity:  2
Result # 193 - OrderID:  22-501-9215 - Quantity:  3
Result # 194 - OrderID:  22-561-9916 - Quantity:  2
Result # 195 - OrderID:  22-572-6325 - Quantity:  1
Result # 196 - OrderID:  22-697-0930 - Quantity:  3
Result # 197 - OrderID:  22-867-9098 - Quantity:  3
Result # 198 - OrderID:  22-872-7952 - Quantity:  1
Result # 199 - OrderID:  22-904-5860 - Quantity:  3
Result # 200 - OrderID:  22-906-5872 - Quantity:  3
Result # 201 - OrderID:  23-082-1065 - Quantity:  3
Result # 202 - OrderID:  23-153-9991 - Quantity:  3
Result # 203 - OrderID:  23-364-4571 - Quantity:  2
Result # 204 - OrderID:  23-382-0687 - Quantity:  2
Result # 205 - OrderID:  23-427-8106 - Quantity:  3
Result # 206 - OrderID:  23-582-1221 - Quantity:  3
Result # 207 - OrderID:  23-636-0824 - Quantity:  1
Result # 208 - OrderID:  23-760-0421 - Quantity:  2
Result # 209 - OrderID:  23-824-2201 - Quantity:  3
Result # 210 - OrderID:  23-898-9055 - Quantity:  3
Result # 211 - OrderID:  24-041-3369 - Quantity:  1
Result # 212 - OrderID:  24-102-1793 - Quantity:  2
Result # 213 - OrderID:  24-139-0192 - Quantity:  3
Result # 214 - OrderID:  24-314-4867 - Quantity:  3
Result # 215 - OrderID:  24-332-5305 - Quantity:  2
Result # 216 - OrderID:  24-339-0545 - Quantity:  3
Result # 217 - OrderID:  24-351-9777 - Quantity:  2
Result # 218 - OrderID:  24-502-2774 - Quantity:  3
Result # 219 - OrderID:  24-678-5042 - Quantity:  3
Result # 220 - OrderID:  24-690-6396 - Quantity:  1
Result # 221 - OrderID:  24-714-2660 - Quantity:  1
Result # 222 - OrderID:  24-934-3291 - Quantity:  3
Result # 223 - OrderID:  24-998-9967 - Quantity:  2
Result # 224 - OrderID:  25-093-8535 - Quantity:  3
Result # 225 - OrderID:  25-177-6985 - Quantity:  3
Result # 226 - OrderID:  25-252-0068 - Quantity:  2
Result # 227 - OrderID:  25-339-5566 - Quantity:  3
Result # 228 - OrderID:  25-432-8239 - Quantity:  2
Result # 229 - OrderID:  25-433-9492 - Quantity:  2
Result # 230 - OrderID:  25-485-3794 - Quantity:  1
Result # 231 - OrderID:  25-522-2006 - Quantity:  2
Result # 232 - OrderID:  25-621-0618 - Quantity:  3
Result # 233 - OrderID:  25-771-0744 - Quantity:  2
Result # 234 - OrderID:  25-850-5723 - Quantity:  2
Result # 235 - OrderID:  25-912-8989 - Quantity:  3
Result # 236 - OrderID:  26-231-8897 - Quantity:  3
Result # 237 - OrderID:  26-281-8125 - Quantity:  3
Result # 238 - OrderID:  26-326-8254 - Quantity:  2
Result # 239 - OrderID:  26-437-6628 - Quantity:  1
Result # 240 - OrderID:  26-461-5577 - Quantity:  3
Result # 241 - OrderID:  26-802-1005 - Quantity:  2
Result # 242 - OrderID:  26-929-8429 - Quantity:  1
Result # 243 - OrderID:  26-973-3455 - Quantity:  2
Result # 244 - OrderID:  27-077-0389 - Quantity:  2
Result # 245 - OrderID:  27-252-7456 - Quantity:  3
Result # 246 - OrderID:  27-295-8802 - Quantity:  3
Result # 247 - OrderID:  27-600-6800 - Quantity:  3
Result # 248 - OrderID:  27-774-9457 - Quantity:  3
Result # 249 - OrderID:  27-991-7078 - Quantity:  1
Result # 250 - OrderID:  28-019-1318 - Quantity:  1
Result # 251 - OrderID:  28-279-3419 - Quantity:  2
Result # 252 - OrderID:  28-341-5469 - Quantity:  3
Result # 253 - OrderID:  28-376-6551 - Quantity:  3
Result # 254 - OrderID:  28-387-3547 - Quantity:  2
Result # 255 - OrderID:  28-608-5137 - Quantity:  3
Result # 256 - OrderID:  28-703-1952 - Quantity:  1
Result # 257 - OrderID:  28-882-5933 - Quantity:  2
Result # 258 - OrderID:  28-960-2783 - Quantity:  2
Result # 259 - OrderID:  29-260-4008 - Quantity:  1
Result # 260 - OrderID:  29-353-4988 - Quantity:  2
Result # 261 - OrderID:  29-463-3688 - Quantity:  1
Result # 262 - OrderID:  29-546-8618 - Quantity:  3
Result # 263 - OrderID:  29-577-3059 - Quantity:  3
Result # 264 - OrderID:  29-587-2527 - Quantity:  3
Result # 265 - OrderID:  29-595-2468 - Quantity:  1
Result # 266 - OrderID:  29-600-4791 - Quantity:  3
Result # 267 - OrderID:  29-600-8355 - Quantity:  1
Result # 268 - OrderID:  29-601-2712 - Quantity:  3
Result # 269 - OrderID:  29-728-2837 - Quantity:  1
Result # 270 - OrderID:  29-773-5797 - Quantity:  3
Result # 271 - OrderID:  29-930-1681 - Quantity:  2
Result # 272 - OrderID:  29-947-3866 - Quantity:  2
Result # 273 - OrderID:  29-952-5748 - Quantity:  2
Result # 274 - OrderID:  30-032-8406 - Quantity:  3
Result # 275 - OrderID:  30-082-2867 - Quantity:  2
Result # 276 - OrderID:  30-087-5181 - Quantity:  1
Result # 277 - OrderID:  30-117-6174 - Quantity:  3
Result # 278 - OrderID:  30-124-4774 - Quantity:  3
Result # 279 - OrderID:  30-148-2955 - Quantity:  1
Result # 280 - OrderID:  30-205-9759 - Quantity:  3
Result # 281 - OrderID:  30-418-5129 - Quantity:  1
Result # 282 - OrderID:  30-601-0133 - Quantity:  3
Result # 283 - OrderID:  30-715-2573 - Quantity:  3
Result # 284 - OrderID:  30-724-0380 - Quantity:  2
Result # 285 - OrderID:  30-790-3083 - Quantity:  3
Result # 286 - OrderID:  30-791-3047 - Quantity:  2
Result # 287 - OrderID:  30-867-3284 - Quantity:  2
Result # 288 - OrderID:  30-969-9125 - Quantity:  2
Result # 289 - OrderID:  31-014-4239 - Quantity:  2
Result # 290 - OrderID:  31-073-7194 - Quantity:  2
Result # 291 - OrderID:  31-087-9491 - Quantity:  1
Result # 292 - OrderID:  31-106-2180 - Quantity:  1
Result # 293 - OrderID:  31-121-8822 - Quantity:  3
Result # 294 - OrderID:  31-221-4991 - Quantity:  2
Result # 295 - OrderID:  31-255-9487 - Quantity:  1
Result # 296 - OrderID:  31-302-3952 - Quantity:  3
Result # 297 - OrderID:  31-340-1373 - Quantity:  3
Result # 298 - OrderID:  31-404-5047 - Quantity:  1
Result # 299 - OrderID:  31-405-1090 - Quantity:  3
Result # 300 - OrderID:  31-576-8678 - Quantity:  2
Result # 301 - OrderID:  31-593-0632 - Quantity:  3
Result # 302 - OrderID:  31-607-0351 - Quantity:  1
Result # 303 - OrderID:  31-669-5161 - Quantity:  2
Result # 304 - OrderID:  31-762-1168 - Quantity:  1
Result # 305 - OrderID:  31-807-7846 - Quantity:  1
Result # 306 - OrderID:  31-955-7364 - Quantity:  3
Result # 307 - OrderID:  32-023-4917 - Quantity:  1
Result # 308 - OrderID:  32-049-4417 - Quantity:  2
Result # 309 - OrderID:  32-208-6721 - Quantity:  2
Result # 310 - OrderID:  32-317-3692 - Quantity:  1
Result # 311 - OrderID:  32-377-0706 - Quantity:  3
Result # 312 - OrderID:  32-483-3668 - Quantity:  1
Result # 313 - OrderID:  32-596-3017 - Quantity:  3
Result # 314 - OrderID:  32-698-1958 - Quantity:  3
Result # 315 - OrderID:  32-732-9550 - Quantity:  2
Result # 316 - OrderID:  32-783-7159 - Quantity:  1
Result # 317 - OrderID:  32-792-5231 - Quantity:  2
Result # 318 - OrderID:  32-923-9697 - Quantity:  1
Result # 319 - OrderID:  33-044-7954 - Quantity:  3
Result # 320 - OrderID:  33-177-2796 - Quantity:  1
Result # 321 - OrderID:  33-207-9048 - Quantity:  1
Result # 322 - OrderID:  33-294-7116 - Quantity:  3
Result # 323 - OrderID:  33-390-5032 - Quantity:  3
Result # 324 - OrderID:  33-395-8454 - Quantity:  2
Result # 325 - OrderID:  33-541-8718 - Quantity:  3
Result # 326 - OrderID:  33-583-4747 - Quantity:  1
Result # 327 - OrderID:  33-596-6321 - Quantity:  1
Result # 328 - OrderID:  33-667-2660 - Quantity:  2
Result # 329 - OrderID:  33-671-4773 - Quantity:  3
Result # 330 - OrderID:  33-755-4654 - Quantity:  2
Result # 331 - OrderID:  33-894-6676 - Quantity:  3
Result # 332 - OrderID:  33-930-0109 - Quantity:  1
Result # 333 - OrderID:  34-061-0340 - Quantity:  3
Result # 334 - OrderID:  34-230-0439 - Quantity:  1
Result # 335 - OrderID:  34-257-0115 - Quantity:  2
Result # 336 - OrderID:  34-331-6365 - Quantity:  2
Result # 337 - OrderID:  34-415-8074 - Quantity:  2
Result # 338 - OrderID:  34-426-9335 - Quantity:  2
Result # 339 - OrderID:  34-629-9123 - Quantity:  2
Result # 340 - OrderID:  34-631-7695 - Quantity:  2
Result # 341 - OrderID:  34-970-4387 - Quantity:  2
Result # 342 - OrderID:  35-067-3364 - Quantity:  2
Result # 343 - OrderID:  35-174-3155 - Quantity:  2
Result # 344 - OrderID:  35-326-1148 - Quantity:  3
Result # 345 - OrderID:  35-371-2486 - Quantity:  2
Result # 346 - OrderID:  35-427-7418 - Quantity:  3
Result # 347 - OrderID:  35-460-4013 - Quantity:  1
Result # 348 - OrderID:  35-587-5940 - Quantity:  3
Result # 349 - OrderID:  35-759-1971 - Quantity:  1
Result # 350 - OrderID:  35-795-9456 - Quantity:  2
Result # 351 - OrderID:  35-884-9148 - Quantity:  3
Result # 352 - OrderID:  35-907-6473 - Quantity:  2
Result # 353 - OrderID:  35-988-0040 - Quantity:  3
Result # 354 - OrderID:  36-019-1520 - Quantity:  2
Result # 355 - OrderID:  36-290-7816 - Quantity:  2
Result # 356 - OrderID:  36-383-1600 - Quantity:  2
Result # 357 - OrderID:  36-478-2126 - Quantity:  2
Result # 358 - OrderID:  36-480-1277 - Quantity:  2
Result # 359 - OrderID:  36-505-9404 - Quantity:  2
Result # 360 - OrderID:  36-779-8330 - Quantity:  3
Result # 361 - OrderID:  36-816-5383 - Quantity:  3
Result # 362 - OrderID:  36-898-0004 - Quantity:  3
Result # 363 - OrderID:  36-917-2834 - Quantity:  3
Result # 364 - OrderID:  36-928-2921 - Quantity:  2
Result # 365 - OrderID:  37-082-5374 - Quantity:  2
Result # 366 - OrderID:  37-103-3005 - Quantity:  3
Result # 367 - OrderID:  37-255-6435 - Quantity:  3
Result # 368 - OrderID:  37-273-5241 - Quantity:  3
Result # 369 - OrderID:  37-398-9630 - Quantity:  2
Result # 370 - OrderID:  37-474-6061 - Quantity:  2
Result # 371 - OrderID:  37-563-3518 - Quantity:  1
Result # 372 - OrderID:  37-656-4777 - Quantity:  3
Result # 373 - OrderID:  37-675-7898 - Quantity:  3
Result # 374 - OrderID:  37-691-9097 - Quantity:  1
Result # 375 - OrderID:  37-765-3279 - Quantity:  1
Result # 376 - OrderID:  38-068-6643 - Quantity:  1
Result # 377 - OrderID:  38-295-3172 - Quantity:  3
Result # 378 - OrderID:  38-478-1265 - Quantity:  3
Result # 379 - OrderID:  38-624-7763 - Quantity:  2
Result # 380 - OrderID:  38-694-5330 - Quantity:  3
Result # 381 - OrderID:  38-750-7959 - Quantity:  1
Result # 382 - OrderID:  38-969-7419 - Quantity:  1
Result # 383 - OrderID:  38-994-1709 - Quantity:  1
Result # 384 - OrderID:  39-040-2440 - Quantity:  2
Result # 385 - OrderID:  39-130-1094 - Quantity:  2
Result # 386 - OrderID:  39-201-1204 - Quantity:  3

# Task 4: Create a stored procedure that manages booking.

In [48]:
# Create a Virtual Table (View) that returns all rows from all tables 
DropDataFromAllTables_sql = """DROP VIEW IF EXISTS DataFromAllTables;"""
DataFromAllTables_sql = """CREATE VIEW DataFromAllTables AS
SELECT da.AddressID, da.City, da.Country, da.PostalCode, da.CountryCode,
p.ProductID, p.CourseName, p.CuisineName, p.StarterName, p.DesertName, p.DrinkName, p.SidesName,
c.CustomerID, c.FirstName, c.LastName,
o.OrderID, o.OrderDate,
od.OrderdetailsID, od.DeliveryDate, od.DeliveryCost, od.Quantity, od.CostPrice, od.Salesprice,
od.Discount
FROM DeliveryAddress da, Products p, Customers c, Orders o, OrderDetails od 
WHERE c.CustomerID = o.CustomerID AND da.AddressID=od.AddressID AND
o.OrderID=od.OrderID AND p.ProductID=od.ProductID;"""

#Create the View
try:
    cursor.execute(DropDataFromAllTables_sql) 
    cursor.execute(DataFromAllTables_sql) 
    print("View successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

View successfully created or already exists.

In [25]:
#Stored Procedure ManageBooking() that selects data about the last 5 bookings
DropManageBooking_sql ="""DROP PROCEDURE IF EXISTS ManageBooking;"""
ManageBooking_sql = """CREATE PROCEDURE IF NOT EXISTS ManageBooking()
    BEGIN 
        SELECT DISTINCT (OrderID), CustomerID, OrderDate, AddressID, DeliveryDate  
        FROM `DataFromAllTables` 
        ORDER BY OrderDate DESC
        LIMIT 5;
    END;"""

#Create the Stored Procedure
try:
    cursor.execute(DropManageBooking_sql) 
    cursor.execute(ManageBooking_sql) 
    print("Procedure successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Procedure successfully created or already exists.

In [49]:
#Retrieve data from the Stored Procedure
try:
    cursor.callproc('ManageBooking')
    allResults=[]
    for eachResult in cursor.stored_results():
        ds = eachResult.fetchall()
        i=1
        for eachResult in ds:
            print('Result #', i, "- OrderID: ",eachResult[0],"- CustomerID: ",eachResult[1],
                                 "- OrderDate: ",eachResult[2],"- AddressID: ",eachResult[3],"- DeliveryDate: ",eachResult[4])
            i=i+1
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Result # 1 - OrderID:  57-000-2024 - CustomerID:  99-788-9999 - OrderDate:  2024-04-02 - AddressID:  MONTREAL-CAN-H1N4G6-1 - DeliveryDate:  2024-04-15
Result # 2 - OrderID:  52-708-9153 - CustomerID:  91-757-8892 - OrderDate:  2023-01-06 - AddressID:  KANSASCITY-UNI-6496418-1 - DeliveryDate:  2022-11-18
Result # 3 - OrderID:  52-708-9153 - CustomerID:  91-757-8892 - OrderDate:  2023-01-06 - AddressID:  KANSASCITY-UNI-353748-1 - DeliveryDate:  2022-11-18
Result # 4 - OrderID:  52-708-9153 - CustomerID:  91-757-8892 - OrderDate:  2023-01-06 - AddressID:  KANSASCITY-UNI-9930300-1 - DeliveryDate:  2022-11-18
Result # 5 - OrderID:  52-708-9153 - CustomerID:  91-757-8892 - OrderDate:  2023-01-06 - AddressID:  KANSASCITY-UNI-9870562-1 - DeliveryDate:  2022-11-18

# Task 5: Create a stored procedure that adds bookings.

In [27]:
#Stored Procedure AddBooking() that inserts a booking into the database. 
DropAddBooking_sql ="""DROP PROCEDURE IF EXISTS AddBooking;"""
AddBooking_sql ="""CREATE PROCEDURE IF NOT EXISTS AddBooking( 
                    IN addressid VARCHAR(45), 
                    IN city VARCHAR(45),
                    IN country VARCHAR(45),
                    IN postalcode VARCHAR(45),
                    IN countrycode VARCHAR(45),

                    IN productid VARCHAR(45),
                    
                    IN customerid VARCHAR(45),
                    IN firstname VARCHAR(45),
                    IN lastname VARCHAR(45),

                    IN orderid VARCHAR(45),
                    
                    IN deliverydate DATE,
                    IN deliverycost DECIMAL,
                    IN quantity INT,
                    IN costprice DECIMAL,
                    IN discount DECIMAL)
    BEGIN
        DECLARE coursename VARCHAR(45) DEFAULT 'NULL';
        DECLARE cuisinename VARCHAR(45) DEFAULT 'NULL';
        DECLARE startername VARCHAR(45) DEFAULT 'NULL';
        DECLARE desertname VARCHAR(45) DEFAULT 'NULL';
        DECLARE drinkname VARCHAR(45) DEFAULT 'NULL';
        DECLARE sidesname VARCHAR(45) DEFAULT 'NULL';

        SELECT Products.CourseName FROM Products WHERE Products.ProductID=productid INTO coursename;
        SELECT Products.CuisineName FROM Products WHERE Products.ProductID=productid INTO cuisinename;
        SELECT Products.StarterName FROM Products WHERE Products.ProductID=productid INTO startername;
        SELECT Products.DesertName FROM Products WHERE Products.ProductID=productid INTO desertname;
        SELECT Products.DrinkName FROM Products WHERE Products.ProductID=productid INTO drinkname;
        SELECT Products.SidesName FROM Products WHERE Products.ProductID=productid INTO sidesname;
        
        IF (coursename IS NOT NULL AND cuisinename IS NOT NULL AND startername IS NOT NULL
            AND desertname IS NOT NULL AND drinkname IS NOT NULL AND sidesname IS NOT NULL)
            THEN 
                INSERT INTO DeliveryAddress
                    VALUES (addressid, city, country, postalcode, countrycode);

                INSERT INTO Customers 
                    VALUES (customerid, firstname, lastname);

                INSERT INTO Orders 
                    VALUES (orderid, now(), customerid);

                INSERT INTO OrderDetails(DeliveryDate, DeliveryCost, Quantity, CostPrice, Discount, AddressID, OrderID, ProductID) 
                    VALUES (deliverydate, deliverycost, quantity, costprice, discount, addressid, orderid, productid); 
        END IF;
    END;"""

#Create the Stored Procedure
try:
    cursor.execute(DropAddBooking_sql) 
    cursor.execute(AddBooking_sql) 
    print("Procedure successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Procedure successfully created or already exists.

In [28]:
#Insert records via the Stored Procedure
args=['MONTREAL-CAN-H1N4G6-1','Montreal','Canada','H1N4G6','CA','CarItaFalAffRomFoc1','99-788-9999','Jane','Doe','57-000-2024','2024-04-15', 11.50, 6, 230.50, 33.00] 

try:
    cursor.callproc('AddBooking', args)
    cnx.commit()
    print("A new booking was successfully added in the database")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

A new booking was successfully added in the database

In [50]:
#Check that the booking added previously is successfully recorded
#Select all records from the View
select_view_DataFromAllTables_sql = """SELECT * FROM  DataFromAllTables
                                WHERE OrderId='57-000-2024';"""

#Execute queries
try:
    cursor.execute(select_view_DataFromAllTables_sql) 
    result=cursor.fetchall()
    print('\n'.join([', '.join(map(str,t)) for t in result]))
    print()
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

MONTREAL-CAN-H1N4G6-1, Montreal, Canada, H1N4G6, CA, CarItaFalAffRomFoc1, Carbonara, Italian, Falafel, Affogato, Roma Red wine, Focaccia, 99-788-9999, Jane, Doe, 57-000-2024, 2024-04-02, 21001, 2024-04-15, 12.00, 6, 231.00, 346.50, 33.00

# Task 6: Create a stored procedure that updates bookings.

In [30]:
#Stored Procedure AddBooking() that updates a booking into the database 
DropUpdateBooking_sql ="""DROP PROCEDURE IF EXISTS UpdateBooking;"""
UpdateBooking_sql ="""CREATE PROCEDURE IF NOT EXISTS UpdateBooking( 
                    IN orderdetailsid INT,
                    IN deliverydate DATE,
                    IN deliverycost DECIMAL,
                    IN quantity INT,
                    IN costprice DECIMAL,
                    IN discount DECIMAL,
                    IN productid VARCHAR(45))
    BEGIN
        UPDATE OrderDetails SET 
        OrderDetails.DeliveryDate=deliverydate,
        OrderDetails.DeliveryCost=deliverycost,
        OrderDetails.Quantity=quantity,
        OrderDetails.Costprice=costprice,
        OrderDetails.Discount=discount,
        OrderDetails.ProductID=productid 
        WHERE OrderDetails.OrderDetailsID = orderdetailsid;
    END;"""

#Create the Stored Procedure
try:
    cursor.execute(DropUpdateBooking_sql) 
    cursor.execute(UpdateBooking_sql) 
    print("Procedure successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Procedure successfully created or already exists.

In [53]:
#Check the booking to be modified before modification
#Select all records from the View
select_view_DataFromAllTables_sql = """SELECT * FROM  DataFromAllTables
                                WHERE OrderDetailsId='21001';"""

#Execute queries
try:
    cursor.execute(select_view_DataFromAllTables_sql) 
    result=cursor.fetchall()
    print('\n'.join([', '.join(map(str,t)) for t in result]))
    print()
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

MONTREAL-CAN-H1N4G6-1, Montreal, Canada, H1N4G6, CA, CarItaFalAffRomFoc1, Carbonara, Italian, Falafel, Affogato, Roma Red wine, Focaccia, 99-788-9999, Jane, Doe, 57-000-2024, 2024-04-02, 21001, 2024-04-15, 12.00, 6, 231.00, 346.50, 33.00

In [57]:
#Modify records via the Stored Procedure
args=[21001,'2024-05-30', 200, 19, 401.00, 12,'BeaTurTomIceCorPot1'] 

try:
    cursor.callproc('UpdateBooking', args)
    cnx.commit()
    print("The booking was successfully updated in the database")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

The booking was successfully updated in the database

In [58]:
#Check the booking modified after modification
#Select all records from the View
select_view_DataFromAllTables_sql = """SELECT * FROM  DataFromAllTables
                                WHERE OrderDetailsId='21001';"""

#Execute queries
try:
    cursor.execute(select_view_DataFromAllTables_sql) 
    result=cursor.fetchall()
    print('\n'.join([', '.join(map(str,t)) for t in result]))
    print()
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

MONTREAL-CAN-H1N4G6-1, Montreal, Canada, H1N4G6, CA, BeaTurTomIceCorPot1, Bean soup, Turkish, Tomato bread, Ice cream, Corfu Red Wine, Potato salad, 99-788-9999, Jane, Doe, 57-000-2024, 2024-04-02, 21001, 2024-05-30, 200.00, 19, 401.00, 601.50, 12.00

# Task 7: Create a stored procedure that cancels bookings.

In [34]:
#Stored Procedure AddBooking() that deletes a booking into the database 
DropCancelBooking_sql ="""DROP PROCEDURE IF EXISTS CancelBooking;"""
CancelBooking_sql ="""CREATE PROCEDURE IF NOT EXISTS CancelBooking( 
                    IN orderid VARCHAR(45))
    BEGIN
        DELETE FROM Orders 
        WHERE `Orders`.`OrderID` = orderid;
    END;"""

#Create the Stored Procedure
try:
    cursor.execute(DropCancelBooking_sql) 
    cursor.execute(CancelBooking_sql) 
    print("Procedure successfully created or already exists.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

Procedure successfully created or already exists.

In [60]:
#Check the booking to be cancelled before delation
#Select all records from the View
select_view_DataFromAllTables_sql = """SELECT * FROM  DataFromAllTables
                                WHERE OrderId='00-008-3271';"""

#Execute queries
try:
    cursor.execute(select_view_DataFromAllTables_sql) 
    result=cursor.fetchall()
    print('\n'.join([', '.join(map(str,t)) for t in result]))
    print()
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

ZŁOTNIKI-POL-6496345-1, Złotniki, Poland, 649-6345, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 333, 2022-12-29, 22.25, 2, 310.00, 465.00, 67.77
ZŁOTNIKI-POL-86030300-1, Złotniki, Poland, 86030300, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 1333, 2022-12-29, 22.25, 2, 91.84, 137.76, 94.76
ZŁOTNIKI-POL-9870489-1, Złotniki, Poland, 987-0489, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 2333, 2022-12-29, 22.25, 2, 320.00, 480.00, 91.41
ZŁOTNIKI-POL-9930227-1, Złotniki, Poland, 993-0227, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 3333, 2022-12-29, 22.25, 2, 93.13, 139.70, 24.00
ZŁOTNIKI-POL-121364080.7-1, Złotniki, Poland, -121364080.7, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 4333, 2022-12-29, 22.25, 2, 75.00, 112.50, 35.44
ZŁOTNIKI-POL-6496639-1, Złotniki, Poland, 649-6639, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 5333, 2022-12-29, 22.25, 2, 144.09, 216.14, 20.00
ZŁOTNIKI-POL-693141-1, Złotniki, Poland, 693141, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 6333, 2022-12-29, 22.25, 2, 125.00, 187.50, 9.71
ZŁOTNIKI-POL-471922625-1, Złotniki, Poland, 471922625, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 7333, 2022-12-29, 22.25, 2, 168.27, 252.41, 10.00
ZŁOTNIKI-POL-438687966-1, Złotniki, Poland, 438687966, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 8333, 2022-12-29, 22.25, 2, 69.38, 104.07, 31.20
ZŁOTNIKI-POL-262846512.7-1, Złotniki, Poland, -262846512.7, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 9333, 2022-12-29, 22.25, 2, 190.00, 285.00, 15.00
ZŁOTNIKI-POL-958 01-1, Złotniki, Poland, 958 01, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 10333, 2022-12-29, 22.25, 2, 52.08, 78.12, 80.34
ZŁOTNIKI-POL-34285-1, Złotniki, Poland, 34285, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 11333, 2022-12-29, 22.25, 2, 310.00, 465.00, 53.53
ZŁOTNIKI-POL-38101485-1, Złotniki, Poland, 3810-1485, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 12333, 2022-12-29, 22.25, 2, 91.84, 137.76, 61.49
ZŁOTNIKI-POL-1135 01-1, Złotniki, Poland, 1135 01, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 13333, 2022-12-29, 22.25, 2, 320.00, 480.00, 10.52
ZŁOTNIKI-POL-753797586-1, Złotniki, Poland, 753797586, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 14333, 2022-12-29, 22.25, 2, 93.13, 139.70, 54.08
ZŁOTNIKI-POL-432177296.7-1, Złotniki, Poland, -432177296.7, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 15333, 2022-12-29, 22.25, 2, 75.00, 112.50, 23.00
ZŁOTNIKI-POL-354675-1, Złotniki, Poland, 354675, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 16333, 2022-12-29, 22.25, 2, 144.09, 216.14, 91.14
ZŁOTNIKI-POL-6497345-1, Złotniki, Poland, 649-7345, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 17333, 2022-12-29, 22.25, 2, 125.00, 187.50, 11.23
ZŁOTNIKI-POL-1180760300-1, Złotniki, Poland, 1180760300, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 18333, 2022-12-29, 22.25, 2, 168.27, 252.41, 98.01
ZŁOTNIKI-POL-9871489-1, Złotniki, Poland, 987-1489, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 19333, 2022-12-29, 22.25, 2, 69.38, 104.07, 73.09
ZŁOTNIKI-POL-9931227-1, Złotniki, Poland, 993-1227, PL, PizGreTomCheItaBru1, Pizza, Greek, Tomato bread, Cheesecake, Italian Coffee, Bruschetta, 50-245-9029, Pansie, Alldis, 00-008-3271, 2021-05-24, 20333, 2022-12-29, 22.25, 2, 190.00, 285.00, 97.48

In [61]:
#Delete records via the Stored Procedure
args=['00-008-3271'] 

try:
    cursor.callproc('CancelBooking', args)
    cnx.commit()
    print("The booking was successfully cancelled in the database")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

The booking was successfully cancelled in the database

In [62]:
#Check the booking cancelled after delation
#Select all records from the View
select_view_DataFromAllTables_sql = """SELECT * FROM  DataFromAllTables
                                WHERE OrderId='00-008-3271';"""

#Execute queries
try:
    cursor.execute(select_view_DataFromAllTables_sql) 
    result=cursor.fetchall()
    if(result):
        print('\n'.join([', '.join(map(str,t)) for t in result]))
        print()
    else:
        print("An empty result set id returned. This order doesn't exist.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)

An empty result set id returned. This order doesn't exist.

# Optional Task - Drop the Tables, View and Procedures.

In [38]:
#SQL code to drop the Procedures
dropAllDBItems=[
    """DROP PROCEDURE IF EXISTS GetMaxQuantity;""", 
    """DROP PROCEDURE IF EXISTS GetAllMaxQuantity;""", 
    """DROP PROCEDURE IF EXISTS ManageBooking;""",
    """DROP PROCEDURE IF EXISTS AddBooking;""",
    """DROP PROCEDURE IF EXISTS UpdateBooking;""",
    """DROP PROCEDURE IF EXISTS CancelBooking;"""
]

"""
#Drop the Procedures
try:
    for dropEachDBitem in dropAllDBItems:
        cursor.execute(dropEachDBitem) 
        print(dropEachDBitem,"was executed successfully.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)
"""

'\n#Drop the Procedures\ntry:\n    for dropEachDBitem in dropAllDBItems:\n        cursor.execute(dropEachDBitem) \n        print(dropEachDBitem,"was executed successfully.")\nexcept Error as er:\n    print("Something went wrong.")\n    print("Error Code:", er.errno)\n    print("Error Message:", er.msg)\n'

In [39]:
#SQL code to drop the View and Tables
dropAllDBItems=[
    """DROP VIEW DataFromAllTables;""",
    """DROP TABLE OrderDetails;""", 
    """DROP TABLE Orders;""",
    """DROP TABLE Customers;""",
    """DROP TABLE DeliveryAddress;""",
    """DROP TABLE Products;"""
]
"""
#Drop the View and Tables
try:
    for dropEachDBitem in dropAllDBItems:
        cursor.execute(dropEachDBitem) 
        print(dropEachDBitem,"was executed successfully.")
except Error as er:
    print("Something went wrong.")
    print("Error Code:", er.errno)
    print("Error Message:", er.msg)
"""

'\n#Drop the View and Tables\ntry:\n    for dropEachDBitem in dropAllDBItems:\n        cursor.execute(dropEachDBitem) \n        print(dropEachDBitem,"was executed successfully.")\nexcept Error as er:\n    print("Something went wrong.")\n    print("Error Code:", er.errno)\n    print("Error Message:", er.msg)\n'

# Final Task - Close the cursor and connection.

In [40]:
#Disconnect the cursor
cursor.close()
print("The cursor was successfully closed.")

The cursor was successfully closed.

In [41]:
#Disconnect from MySQL
cnx.close()
print ("Successfully disconnected from MySQL.")

Successfully disconnected from MySQL.